@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Montserrat:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@320;800&family=Montserrat:ital,wght@0,500;1,500&display=swap');
html{
  /* background-image:url('./newsImage2.jpg'); */
  background-image: linear-gradient(34deg, transparent 0%, transparent 20%,rgba(6, 6, 6,0.02) 20%, rgba(6, 6, 6,0.02) 48%,transparent 48%, transparent 100%),
  linear-gradient(300deg, transparent 0%, transparent 20%,rgba(254, 254, 254,0.01) 20%, rgba(254, 254, 254,0.01) 48%,transparent 48%, transparent 100%),
  linear-gradient(275deg, transparent 0%, transparent 20%,rgba(4, 4, 4,0.01) 20%, rgba(4, 4, 4,0.01) 48%,transparent 48%, transparent 100%),
  linear-gradient(95deg, transparent 0%, transparent 20%,rgba(207, 207, 207,0.01) 20%, rgba(207, 207, 207,0.01) 48%,transparent 48%, transparent 100%),
  linear-gradient(330deg, transparent 0%, transparent 20%,rgba(177, 177, 177,0.01) 20%, rgba(177, 177, 177,0.01) 48%,transparent 48%, transparent 100%),
  linear-gradient(264deg, transparent 0%, transparent 20%,rgba(171, 171, 171,0.01) 20%, rgba(171, 171, 171,0.01) 48%,transparent 48%, transparent 100%),
  linear-gradient(359deg, transparent 0%, transparent 20%,rgba(229, 229, 229,0.02) 20%, rgba(229, 229, 229,0.02) 48%,transparent 48%, transparent 100%),
  linear-gradient(238deg, transparent 0%, transparent 20%,rgba(150, 150, 150,0.02) 20%, rgba(150, 150, 150,0.02) 48%,transparent 48%, transparent 100%),
  linear-gradient(295deg, transparent 0%, transparent 20%,rgba(52, 52, 52,0.03) 20%, rgba(52, 52, 52,0.03) 48%,transparent 48%, transparent 100%),
  linear-gradient(215deg, transparent 0%, transparent 20%,rgba(165, 165, 165,0.02) 20%, rgba(165, 165, 165,0.02) 48%,transparent 48%, transparent 100%),
  linear-gradient(69deg, transparent 0%, transparent 20%,rgba(41, 41, 41,0.03) 20%, rgba(41, 41, 41,0.03) 48%,transparent 48%, transparent 100%),
  linear-gradient(357deg, transparent 0%, transparent 20%,rgba(181, 181, 181,0.01) 20%, rgba(181, 181, 181,0.01) 48%,transparent 48%, transparent 100%),
  linear-gradient(272deg, transparent 0%, transparent 20%,rgba(93, 93, 93,0.01) 20%, rgba(93, 93, 93,0.01) 48%,transparent 48%, transparent 100%),
  linear-gradient(329deg, transparent 0%, transparent 20%,rgba(109, 109, 109,0.03) 20%, rgba(109, 109, 109,0.03) 48%,transparent 48%, transparent 100%),
  linear-gradient(57deg, transparent 0%, transparent 20%,rgba(153, 153, 153,0.02) 20%, rgba(153, 153, 153,0.02) 48%,transparent 48%, transparent 100%),
  linear-gradient(269deg, transparent 0%, transparent 20%,rgba(159, 159, 159,0.02) 20%, rgba(159, 159, 159,0.02) 48%,transparent 48%, transparent 100%),
  linear-gradient(144deg, transparent 0%, transparent 20%,rgba(9, 9, 9,0.03) 20%, rgba(9, 9, 9,0.03) 48%,transparent 48%, transparent 100%),
  linear-gradient(217deg, transparent 0%, transparent 20%,rgba(157, 157, 157,0.03) 20%, rgba(157, 157, 157,0.03) 48%,transparent 48%, transparent 100%),
  linear-gradient(31deg, transparent 0%, transparent 20%,rgba(91, 91, 91,0.01) 20%, rgba(91, 91, 91,0.01) 48%,transparent 48%, transparent 100%),
  linear-gradient(277deg, transparent 0%, transparent 20%,rgba(132, 132, 132,0.02) 20%, rgba(132, 132, 132,0.02) 48%,transparent 48%, transparent 100%),
  linear-gradient(164deg, transparent 0%, transparent 20%,rgba(67, 67, 67,0.03) 20%, rgba(67, 67, 67,0.03) 48%,transparent 48%, transparent 100%),
  linear-gradient(24deg, transparent 0%, transparent 20%,rgba(174, 174, 174,0.01) 20%, rgba(174, 174, 174,0.01) 48%,transparent 48%, transparent 100%),
  linear-gradient(342deg, transparent 0%, transparent 20%,rgba(168, 168, 168,0.02) 20%, rgba(168, 168, 168,0.02) 48%,transparent 48%, transparent 100%),linear-gradient(61deg, transparent 0%, transparent 20%,rgba(58, 58, 58,0.03) 20%, rgba(58, 58, 58,0.03) 48%,transparent 48%, transparent 100%),linear-gradient(305deg, transparent 0%, transparent 20%,rgba(127, 127, 127,0.03) 20%, rgba(127, 127, 127,0.03) 48%,transparent 48%, transparent 100%),linear-gradient(291deg, transparent 0%, transparent 20%,rgba(213, 213, 213,0.01) 20%, rgba(213, 213, 213,0.01) 48%,transparent 48%, transparent 100%),linear-gradient(114deg, transparent 0%, transparent 20%,rgba(241, 241, 241,0.01) 20%, rgba(241, 241, 241,0.01) 48%,transparent 48%, transparent 100%),linear-gradient(35deg, transparent 0%, transparent 20%,rgba(140, 140, 140,0.03) 20%, rgba(140, 140, 140,0.03) 48%,transparent 48%, transparent 100%),linear-gradient(344deg, transparent 0%, transparent 20%,rgba(10, 10, 10,0.01) 20%, rgba(10, 10, 10,0.01) 48%,transparent 48%, transparent 100%),linear-gradient(259deg, transparent 0%, transparent 20%,rgba(215, 215, 215,0.02) 20%, rgba(215, 215, 215,0.02) 48%,transparent 48%, transparent 100%),linear-gradient(333deg, transparent 0%, transparent 20%,rgba(73, 73, 73,0.03) 20%, rgba(73, 73, 73,0.03) 48%,transparent 48%, transparent 100%),linear-gradient(290deg, transparent 0%, transparent 20%,rgba(28, 28, 28,0.03) 20%, rgba(28, 28, 28,0.03) 48%,transparent 48%, transparent 100%),linear-gradient(42deg, transparent 0%, transparent 20%,rgba(65, 65, 65,0.01) 20%, rgba(65, 65, 65,0.01) 48%,transparent 48%, transparent 100%),linear-gradient(308deg, transparent 0%, transparent 20%,rgba(80, 80, 80,0.01) 20%, rgba(80, 80, 80,0.01) 48%,transparent 48%, transparent 100%),linear-gradient(107deg, transparent 0%, transparent 20%,rgba(96, 96, 96,0.01) 20%, rgba(96, 96, 96,0.01) 48%,transparent 48%, transparent 100%),linear-gradient(352deg, transparent 0%, transparent 20%,rgba(94, 94, 94,0.02) 20%, rgba(94, 94, 94,0.02) 48%,transparent 48%, transparent 100%),linear-gradient(167deg, transparent 0%, transparent 20%,rgba(82, 82, 82,0.02) 20%, rgba(82, 82, 82,0.02) 48%,transparent 48%, transparent 100%),linear-gradient(200deg, transparent 0%, transparent 20%,rgba(12, 12, 12,0.03) 20%, rgba(12, 12, 12,0.03) 48%,transparent 48%, transparent 100%),linear-gradient(206deg, transparent 0%, transparent 20%,rgba(64, 64, 64,0.03) 20%, rgba(64, 64, 64,0.03) 48%,transparent 48%, transparent 100%),linear-gradient(29deg, transparent 0%, transparent 20%,rgba(107, 107, 107,0.01) 20%, rgba(107, 107, 107,0.01) 48%,transparent 48%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));

  background-size: cover;
}
.preloader-wrapper{
  z-index: 9999;
  width: 100vw; height: 100vh;
  transition: opacity 0.2s;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
}

/*
.card{
  padding-bottom: 6px;
} */

h1{
  font-family: 'EB Garamond', serif;
  font-weight: bolder;
  color:rgb(150, 144, 145);
  font-size: 5rem;
}
/* .card-image{
  z-index: 2;

}
.card-title{
  font-family: 'EB Garamond', serif;
  line-height: 0.8;
  position: static;
  height:6rem;
  font-size: 1.5rem !important;
}

.card-content{
  height:5rem;
  font-weight: 450;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 17px;
} */


/* @media screen and (max-width:600px){

  h1{
    font-size: 2.5rem;
  }
  .row{
    width: 25rem;
  }
.card-image{
  height:10rem;
}

.card-title{
 height:5rem;
  background-color: rgb(223, 211, 211);
  margin-top: 1rem;
}

} */




/* CARD CLASS */
.card-section{



}
/* END */

























/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
